
@model PartialViewplusView.Models.multipleclasses
<h4>This is Partial View For Creating Last Name</h4>
@Html.LabelFor(m => m.LName)
@Html.TextBoxFor(m => m.LName)   
<script type="text/javascript">



</script>